@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
    font-family: 'Lato', 'Roboto', sans-serif;
}
#wrapper {
    width: 100%;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}
section {
    margin: 4rem auto;
}
p {
    color: #888888;
}
.controls {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
}
.controls > div {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 2rem);
    min-width: 100px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.controls > div label {
    margin-bottom: .3rem;
    color: #888888;
}
.controls:last-child {
    margin-right: 0;
}
select,
input {
    background-color: transparent;
    border: 2px solid #333333;
    border-radius: 0;
    outline: none;
    color: #333333;
    height: 40px;
    box-sizing: border-box;
}
input {
    padding: 0 5px;
}
.controls > div.checkbox {
    position: relative;
    flex-direction: row;
    align-items: center;
    padding-left: .5rem;
    padding-bottom: 2px;
}
.controls > div.checkbox input[type="checkbox"]{
    margin-right: .5rem;
}
.controls > div.checkbox label {
    margin-bottom: 0;
    cursor: pointer;
}
.controls > div.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 24px;
    height: 24px;
    border: 2px solid #333333;
    box-sizing: border-box;
}
.controls > div.checkbox label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 13px;
    width: 14px;
    height: 14px;
    background-color: #F85C50;
    box-sizing: border-box;
    opacity: 0;
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
}

fieldset {
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 0;
}
fieldset button {
    margin-right: 1rem;
}
fieldset button:last-of-type {
    margin-right: 0;
}
button.primary {
    padding: .5rem 3rem;
    border: 1px solid #333333;
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
    text-transform: uppercase;
}
button.primary:hover,
button.secondary:hover {
    background-color: rgba(0, 0, 0, .1);
    text-decoration: none;
}
button.secondary {
    padding: .5rem 3rem;
    border: none;
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
    text-transform: uppercase;
    text-decoration: underline;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
section.head {
    font-size: 18px;
    text-align: center;
}
section.head p {
    color: #333333;
    letter-spacing: .3px;
}
a {
    color: #F85C50;
}
section.head h1 {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    z-index: 1;
}
section.head h1:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 10px;
    width: 100%;
    z-index: 0;
    background-color: #F85C50;
}
