$toolbarHeight: 32px;
$messageHeaderHeight: 32px;

$color-success: #6bc259;
$color-warning: #ffd600;
$color-error: #f44336;
$color-info: #f1f1f1;

#reporter_topbarHolder {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.rptr-topbar {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: $toolbarHeight;
  padding: 0 32px;
  box-sizing: border-box;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: $toolbarHeight;
    height: $toolbarHeight;
    transition: .2s;
    opacity: .5;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 15%;
      left: 43%;
      width: 2px;
      height: 60%;
      border-radius: 2px;
      background-color: #212121;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }
  &.default {
    background-color: $color-info;
    color: #000000;
  }
  &.success {
    background-color: $color-success;
    color: #ffffff;
  }
  &.warning {
    background-color: $color-warning;
    color: #ffffff;
  }
  &.error {
    background-color: $color-error;
    color: #ffffff;
  }
}
#reporter_messageHolder {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10000;
  @media screen and (max-width: 1024px) {
    width: calc(100% - 40px);
    bottom: auto;
    top: 10px;
  }
}
.rptr-message {
  display: flex;
  opacity: 0;
  font-weight: normal;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 40px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 0 2px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  transform: translate3d(50px, 0, 0);
  border-radius: 5px;
  transition: .5s;
  @media screen and (max-width: 1024px) {
    transform: translate3d(0, -50px, 0);
  }
  &:first-of-type {
    margin-bottom: 0;
  }
  &.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .close {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: .2s;
    opacity: .5;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 15%;
      left: 45%;
      width: 2px;
      height: 60%;
      border-radius: 2px;
      background-color: #212121;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }
  &.default {
    background-color: $color-info;
    color: #212121;
  }
  &.success {
    background-color: $color-success;
    color: #ffffff;
  }
  &.warning {
    background-color: $color-warning;
    color: #212121;
  }
  &.error {
    background-color: $color-error;
    color: #ffffff;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}
.rptr-message-wrap {
  padding-left: 10px;
  padding-bottom: 10px;
}
.rptr-message-header {
  font-weight: bold;
  padding-right: 30px;
}
.rptr-message-title {
  line-height: $messageHeaderHeight;
}
.rptr-message-image {
  height: auto;
  padding: 10px;
  img {
    width: 70px;
    height: auto;
    border-radius: 2px;
  }
}

.mobile-body {
  .rptr-message {
    .close {
      width: 40px;
      line-height: 40px;
      font-size: 18px;
    }
    .rptr-message-header,
    .rptr-message-content {
      font-size: 16px;
    }
  }
}
.autoprefixer-test {
  user-select: none;
}
