$toolbarHeight: 32px;
$messageHeaderHeight: 32px;

$success-bg: #6bc259 !default;
$success-text: #ffffff !default;

$warning-bg: #ffd600 !default;
$warning-text: #333333 !default;

$error-bg: #f44336 !default;
$error-text: #ffffff !default;

$default-bg: #f1f1f1 !default;
$default-text: #333333 !default;

#reporter_topbarHolder {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.rptr-topbar {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: $toolbarHeight;
  padding: 0 32px;
  box-sizing: border-box;
  opacity: 0;
  transform: translate3d(0, -30%, 0);
  transition: .3s ;
  &.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: $toolbarHeight;
    height: $toolbarHeight;
    transition: .2s;
    opacity: .5;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 15%;
      left: 43%;
      width: 2px;
      height: 60%;
      border-radius: 2px;
      background-color: #212121;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }
  &.default {
    background-color: $default-bg;
    color: $default-text;
  }
  &.success {
    background-color: $success-bg;
    color: $success-text;
  }
  &.warning {
    background-color: $warning-bg;
    color: $warning-text;
  }
  &.error {
    background-color: $error-bg;
    color: $error-text;
  }
}
#reporter_messageHolder {
  position: fixed;
  width: 300px;
  display: flex;
  z-index: 10000;
  &.bottom-right {
    right: 20px;
    bottom: 20px;
    flex-direction: column-reverse;
  }
  &.bottom-left {
    left: 20px;
    bottom: 20px;
    flex-direction: column-reverse;
  }
  &.top-right {
    right: 20px;
    top: 20px;
    flex-direction: column;
  }
  &.top-left {
    left: 20px;
    top: 20px;
    flex-direction: column;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100% - 40px);
    bottom: auto;
    top: 10px;
  }
}
#reporter_messageHolder {
  &.bottom-right,
  &.bottom-left {
    .rptr-message {
      margin-bottom: 10px;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }
  &.top-right,
  &.top-left {
    .rptr-message {
      margin-top: 10px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  &.top-left,
  &.bottom-left {
    .rptr-message {
      transform: translate3d(-50px, 0, 0);
    }
  }
  &.top-right,
  &.bottom-right {
    .rptr-message {
      transform: translate3d(50px, 0, 0);
    }
  }
}
.rptr-message {
  display: flex;
  opacity: 0;
  font-weight: normal;
  position: relative;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 0 2px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  border-radius: 5px;
  transition: .5s;
  @media screen and (max-width: 1024px) {
    transform: translate3d(0, -50px, 0);
  }
  &.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0) !important;
  }
  .close {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: .2s;
    opacity: .5;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 15%;
      left: 45%;
      width: 2px;
      height: 60%;
      border-radius: 2px;
      background-color: #212121;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }
  &.default {
    background-color: $default-bg;
    color: $default-text;
  }
  &.success {
    background-color: $success-bg;
    color: $success-text;
  }
  &.warning {
    background-color: $warning-bg;
    color: $warning-text;
  }
  &.error {
    background-color: $error-bg;
    color: $error-text;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}
.rptr-message-wrap {
  padding-left: 10px;
  padding-bottom: 10px;
}
.rptr-message-header {
  font-weight: bold;
  padding-right: 30px;
}
.rptr-message-title {
  line-height: $messageHeaderHeight;
}
.rptr-message-image {
  height: auto;
  padding: 10px;
  img {
    width: 70px;
    height: auto;
    border-radius: 2px;
  }
}

.mobile-body {
  .rptr-message {
    .close {
      width: 40px;
      line-height: 40px;
      font-size: 18px;
    }
    .rptr-message-header,
    .rptr-message-content {
      font-size: 16px;
    }
  }
}
